<div class="flex-container">
  <div id="playerList" class="flex-item">
    <div>Players:</div>
    <app-player-card *ngFor="let player of players" [player]="player">
    </app-player-card>
  </div>
  <div #gameBoard id="gameBoard" class="flex-item">
    <!--  <img src="../../../assets/Kandoecirkel.jpg"> -->
    <svg viewBox="100%">
      <circle #outer cx="50%" cy="50%" r="38%" stroke="black" stroke-width="0" fill="blue"></circle>
      <circle cx="50%" cy="50%" r="35%" stroke="black" stroke-width="0" fill="white"></circle>
      <circle cx="50%" cy="50%" r="32%" stroke="black" stroke-width="0" fill="blue"></circle>
      <circle cx="50%" cy="50%" r="29%" stroke="black" stroke-width="0" fill="white"></circle>
      <circle cx="50%" cy="50%" r="26%" stroke="black" stroke-width="0" fill="blue"></circle>
      <circle cx="50%" cy="50%" r="23%" stroke="black" stroke-width="0" fill="white"></circle>
      <circle cx="50%" cy="50%" r="20%" stroke="black" stroke-width="0" fill="blue"></circle>
      <circle cx="50%" cy="50%" r="17%" stroke="black" stroke-width="0" fill="white"></circle>
      <circle cx="50%" cy="50%" r="14%" stroke="black" stroke-width="0" fill="blue"></circle>
      <circle cx="50%" cy="50%" r="11%" stroke="black" stroke-width="0" fill="white"></circle>
      <circle cx="50%" cy="50%" r="8%" stroke="black" stroke-width="0" fill="blue"></circle>
      <circle cx="50%" cy="50%" r="5%" stroke="black" stroke-width="0" fill="white"></circle>
      <circle cx="50%" cy="50%" r="2%" stroke="black" stroke-width="0" fill="blue"></circle>
      <circle cx="50%" [attr.cy]="outer.innerWidth" r="1%" [attr.fill]="Colors[0]"></circle>
    </svg>
  </div>
  <div id="rightPanel" class="flex-item">
  <div id="legend">
      Legende
  </div>
  <div id="chatbox">
      Chatbox
  </div>
  </div>
</div>
