.Themecard {
  width: 20vw;
  height: 20vh;
  border: solid 2px;
}
.flex-item{
  margin: 5px 5px;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.ThemeImage {
  width: 100%;
  height: 12vh;
}

.ThemeTitle {
  width: 100%;
  height: 8vh;
  text-align: center;
  border-top: solid 1px;
}

.deleteCard {
}
