.form {
  margin: 30px 3%;
}

button {
  width: 120px;
  height: 50px;
  color: #fff;
  background-color: #192a56;
  border-color: #192a56;
}

.active {
  background-color: #e84118;
  border-color: #e84118;
}

