<!--<div>
  <button class="moveCardButtonStyle" (click)="copyContent()">{{beer.description}}</button>
</div>
<div id="lane">
  <div id="block1" class="block" (click)="copyContent()">
    <img [src]="beer.imagerl">
  </div>
  <div id="block2" class="block" (click)="copyContent()">
    2
  </div>

  <div id="block3" class="block" (click)="copyContent()">
    3
  </div>

  <div id="block4" class="block" (click)="copyContent()">
    4
  </div>
  <div id="block5" class="block" (click)="copyContent()">
    5
  </div>
  <div id="block6" class="block" (click)="copyContent()">
    6
  </div>
  <div id="block7" class="block" (click)="copyContent()">
    7
  </div>
  <div id="block8" class="block" (click)="copyContent()">
    8
  </div>
  <div id="block9" class="block" (click)="copyContent()">
    9
  </div>
  <div id="block10" class="block" (click)="copyContent()">
    10
  </div>
</div>-->


