.sidebar {
  height: 100vh;
  background-color: #00a8ff;
  padding-top: 10%;
  text-transform: uppercase;
}

hr {
  padding-bottom: 30px;
}

.sidebar h4 {
  padding-top: 4%;
}

.sidebar h5 {
  padding: 2% 0;
}

.sidebar h5:hover {
  cursor: pointer;
  text-decoration: underline;
}

.main {
  background-color: lightgrey;
  padding-top: 3%;
  height: 100vh;
  text-transform: uppercase;
}

#profilePic {
  border-radius: 50%;
  border: 3px solid black;
  height: 100px;
  width: 100px;
}

