<form method="post" enctype="multipart/form-data">
  <label for="file">Select an image to upload</label>
  <input type="file" name="file" id="file" accept="image/x-png,image/jpeg" (change)="uploadFile($event)">
  <button class="btn btn-primary" type="submit" (click)=clickUpload()>Upload</button>
</form>


<!--<form method="POST" action="/api/private/uploadImage" enctype="multipart/form-data">-->
  <!--<table>-->
    <!--<tr>-->
      <!--<td><form path="file">Select a file to upload</form></td>-->
      <!--<td><input type="file" name="file" /></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><input type="submit" value="Submit" /></td>-->
    <!--</tr>-->
  <!--</table>-->
  <!--</form>-->
