<div class="google-cards" *ngIf="isMainTheme">

  <div class="google-card customForm">
    <div class="google-card-content">
      <div class="text-center" *ngIf="isMainTheme">
        <h2>Create new theme</h2>
      </div>
      <table *ngIf="isMainTheme">
        <tr>
          <td class="fullWidth">What will be the main theme of your kandoe session?
            <input type="text" name="name" id="name" [(ngModel)]="mainTheme.name"></td>
        </tr>

        <tr>
          <td class="fullWidth">
            <label for="description">Describe your main theme</label>
            <textarea name="description" id="description" [(ngModel)]="mainTheme.description"></textarea>
            <span></span>
          </td>
        </tr>
      </table>
      <p class="error text-danger">{{errorMessage}}</p>
      <button class="btn btn-primary" (click)="gotoNextStep()">Save</button>
      <button class="btn btn-danger" (click)="onClearClick()">Clear</button>
    </div>
  </div>

  <div class="rightBar">
    <div class="google-card customForm2">
      <div class="google-card-content">
        <div class="text-center">
          <h2>Theme picture</h2>
        </div>
        <div class="text-center">
          <app-image-upload #imageUpload [imageUrl]="imageSrc" (profilePictureChanged)="onPictureChanged($event)" [typeOfUpload]="'emitData'" (imageData)="onImageDataReceived($event)"></app-image-upload>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="themes" *ngIf="isMainTheme">
  <h1>Choose an existing theme</h1>
  <!--<p>Search:<ng2-completer class="completer" [(ngModel)]="searchString" [datasource]="dataService" [minSearchLength]="0" [clearUnselected]="true" [clearSelected]="true" [textNoResults]="'No results found'" (selected)="onItemSelected($event)"></ng2-completer></p>-->

  <app-main-themes #mainThemes (activeThemeChanged)="mainThemeChanged($event)" [type]="type" (chosenThemeId)="onPageChanged($event)"></app-main-themes>

</div>

<ng-container *ngIf="!isMainTheme">
  <h2 class="text-center">Sub themes</h2>
  <div class="google-cards-2" *ngFor="let subTheme of subThemes; let index = index">
    <div class="google-card">

    <div class="google-card-content">


      <table>
        <tr>
          <td class="fullWidth">What will be the subtheme for main theme: {{mainTheme.name}}?
            <input type="text" name="name" id="subThemeName" [(ngModel)]="subTheme.subThemeName">
          </td>
        </tr>
        <tr>
          <td class="fullWidth">Describe your sub theme:
            <textarea name="description" id="subThemeDescription" [(ngModel)]="subTheme.subThemeDescription"></textarea>
          </td>
        </tr>
      </table>
    </div>

  </div>
  </div>
  <div class="next-button" (click)="gotoNextStep()"></div>
  <div (click)="onAddSubThemePressed()" class="plus-button"></div>
</ng-container>
